/*----about page-----*/
.about{
    height: 100%;
    width: 100%;
}
.aboutpage{
    width: 100%;
    height: 650px;
    padding: 30px 0;
    background-color: $landing-page;
}
.aboutpage__heading{
    font-size: 20px;
    color:#222;
    text-align: center;
}