.landing-page {
    height: 100%;
    width: 100%;
    background-color:$landing-page;
    padding: 30px 90px;
}

.landing-page__heading {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.landing-page__filter{
    display: inline-block;
    float: right;
    letter-spacing: 0.3px;
    font-size: 13px;
    color:#555;

    p{
        margin-left: 25px;
        display: inline-block;

        input[type=radio] {
            border: 0px;
            margin-right: 5px;
            
        }
    }
}

.landing-page__tile{
    height: 350px;
    width: 350px;
    background: #fff;
    /*margin: 30px 0;
    padding: 15px;*/
    background: #fff;
    margin:40px;
    padding: 15px 15px 5px 15px;
    overflow: hidden;
}
.tile__image{
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}
.tile__appinfo{
    clear: both;
    line-height: 30px;
}


.tile__appname{
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
}
.tile__username{
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    float: right;
    /*padding-right: 10px;*/
    position: relative;
    top: 5px;
    right: 10px;
}
.tile__username_img{
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    float: right;
}
.tile__options{
    clear: both;
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 6px;

    a{
        color: $link-color;
        font-size: 14px;
    }

     p{
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
    }
}
.tile__options p{
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 5px;
}
.options__edit{
    color:$link-color;
    vertical-align: -webkit-baseline-middle;
}
.tile__options_stats{
    display: inline-block;
    float: right;
    font-size: 12px;

    li{
        display: inline-block;
        padding: 0 10px;

        img{
            height: 16px;
            padding-right: 3px;
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
        }
    }
}
