.landing-page {
    height: 100%;
    width: 100%;
    background-color:$landing-page;
    padding: 20px 50px;
}

.landing-page__heading {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.landing-page__filter{
    display: inline-block;
    float: right;
    letter-spacing: 0.3px;
}
.landing-page__tile{
    background: #fff;
    margin:40px;
    padding: 15px 15px 5px 15px;
    overflow: hidden;
}
.tile__image{
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}
.tile__appinfo{
    clear: both;
    margin-top: 6px;
}
.tile__appname{
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
}
.tile__username{
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    float: right;
    position: relative;
    top: 5px;
    right: 10px;
}
.tile__username_img{
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    float: right;
}
.tile__options{
    clear: both;
    margin-top: 20px;
}
.tile__options p{
    display: inline-block;
<<<<<<< HEAD
    position: relative;
    bottom: 4px;
    left: 5px;
}
.options__edit{
    color:$link-color;
=======
    vertical-align: -webkit-baseline-middle;
>>>>>>> test
}
.tile__options_stats{
    display: inline-block;
    float: right;
    font-size: 12px;

    li{
        display: inline-block;
        padding: 0 10px;

        img{
            height: 18px;
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
        }
    }
}
