.profile{
    height: 100%;
    width: 100%;
}
.profile__box{
    height: 100%;
    width: 100%;
    background-color: $landing-page;
}
.profile__box_left{
    height: 100%;
    width: 100%;
    padding: 20px 0 10%;
}
.profile__img{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    img{
        height:100px;
        width: 100px;
        border-radius: 50%;
        margin: 20px auto 10px auto;
    }
    p{
        font-size: 15px;
        color:#333;
        text-transform: capitalize;
    }
}
.profile__options{

    a{
        color:#666;
        line-height: 50px;
        border-bottom: 1px solid #ccc;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        display: block;
        letter-spacing: 0.3px;
        padding: 0 20px;
    }

    :hover{
        background-color: #fff;
    }
    :activer{
        background-color: #fff;
    }

    i{
      margin-right: 10px;
    }
}

.profile__box_right{
    height: 100%;
    padding: 5% 10%;
    border-left :1px solid #ccc;
}
.user__menu{
    margin-bottom: 4%;
    p{
        width: 150px;
        display: inline-block;
        text-transform: capitalize;
    }
    input, textarea{
        line-height: 33px;
        font-size: 14px;
        width: 300px;
        outline: none;
        padding: 0 5px;
    }
}
.menu__bio{
    vertical-align: top;
}
.menu__submit{
    background-color: $combo-color;
    padding: 5px 10px;
    color: #fff;
    font-size: $button-size;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 4px 3px #ccbebe;;
}
.menu__submit:hover{
     box-shadow: 7px 7px 5px #ccc;
}


